@model EstacionamentoWeb.Models.RegistrosEstacionamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegistrosEstacionamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class ="form-control" asp-items="ViewBag.VeiculoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VagaId" class="control-label"></label>
                <select asp-for="VagaId" class ="form-control" asp-items="ViewBag.VagaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraEntrada" class="control-label"></label>
                <input asp-for="DataHoraEntrada" class="form-control" />
                <span asp-validation-for="DataHoraEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraSaida" class="control-label"></label>
                <input asp-for="DataHoraSaida" class="form-control" />
                <span asp-validation-for="DataHoraSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorFinal" class="control-label"></label>
                <input asp-for="ValorFinal" class="form-control" />
                <span asp-validation-for="ValorFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
